<form>
    <div class="form-group">
      <label>Operando A</label>
      <input type="number" class="form-control" name="operandoA" placeholder="Escribe opeando A" value="Inserte operando A" [(ngModel)]="operandoA"/>
    </div>
      <br/>
    <div class="form-group">
      <label>Operando <B></B></label>
      <input type="number" class="form-control" name="operandoB" placeholder="Escribe opeando B" value="Inserte operando A" [(ngModel)]="operandoB"/>
    </div>

    <br/>

    <button type="submit" class="btn btn-primary" (click)="sumar()">Sumar</button>


</form> 


